.login-bg-image {
    background-repeat: no-repeat;
    background-image: url('../img/background.jpg');
    height: auto;
    width: auto;
    background-position: 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

.loginbox {
    border: #ddd 1px solid;
    border-radius: 0px;
    height: 600px;
    width: 400px;
    border-color: #ddd #ddd #d8d8d8;
    background-color: #fff;
    box-shadow: 0 2px 0 hsla(0, 0%, 68.6%, .12);

    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    text-align: center;
}

.loginbox .content {
    width: 316px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.wordstyle {
    font-weight: 600;
    color: #5e5e5e;
    height: 24px;
    margin-top: 5px;
}
.left {
    float: left;
}
.buttonstyle{
    width: 100% !important;
    background: #bf165e !important;
}

/* 标签页样式 */
.tab-container {
    width: 100%;
    text-align: left;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

.nav-tabs li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs li a {
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #555;
    text-decoration: none;
}

.nav-tabs li a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content {
    border-top: none;
    padding: 15px 0;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* 表单样式优化 */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}